<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<footer class="site-footer h-card">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">   
      <b> jana </b> dot <b> vrablikova </b> at <b> inria </b> dot <b> fr </b><br>
      <a href="http://arxiv.org/a/vrablikova_j_1">arXiv</a>, <a href="https://orcid.org/0000-0002-3008-9275">ORCID</a>, <a href="https://github.com/JanaVrablikova">GitHub</a>
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>

</footer>
