<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include custom-head.html %}
  </head>
  <body>
    <div class="wrapper">
      {%- include header.html -%}

    <style>
      .grid-container {
      display: grid;
      grid-template-columns: 30% 70%;
      }
    </style>

    <div class="grid-container">

      <div>
        <img src="cat.jpg" width="200">
      </div>

      <div>
        {{ content }}
      </div>

    </div>

     <style>
      .footer {
        position: fixed;
        left: 20%;
        bottom: 0;
        width: 80%;
      }
    </style>

    <div class="footer">
      <p><small> jana.vrablikova at inria.fr</a></small></p>
      <p><small> <a href="http://arxiv.org/a/vrablikova_j_1">ArXiv</a>, <a href="https://orcid.org/0000-0002-3008-9275">ORCID</a></small></p>
    </div>     
    
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>

</html>


