<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  
{%- include head.html -%}
  
  <body>
    {%- include header.html -%}

    <div class="wrapper">
    <style>
      .grid-container {
      display: grid;
      grid-template-columns: 30% 70%;
      }
    </style>

    <div class="grid-container">
      
      <div>
        <img src="cat.jpg" width="200">
        
        <p>nbsp&</p>
        <p>jana.vrablikova at inria.fr</p>
        <p><a href="http://arxiv.org/a/vrablikova_j_1">ArXiv</a>, <a href="https://orcid.org/0000-0002-3008-9275">ORCID</a></p>
      </div>
        
      <div>
        {{ content }}
      </div>

    </div>
    </main>
    
     <style>
      .footer {
        position: fixed;
        left: 20%;
        bottom: 0;
        width: 80%;
      }
    </style>

    <div class="footer">
      <p><small> jana.vrablikova at inria.fr</a></small></p>
      <p><small> <a href="http://arxiv.org/a/vrablikova_j_1">ArXiv</a>, <a href="https://orcid.org/0000-0002-3008-9275">ORCID</a></small></p>
    </div>     
    
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    </div>
  </body>

</html>


