<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include custom-head.html %}
  </head>
  <body>
    <div class="wrapper">
      {%- include header.html -%}

    <style>
      .indent-1 {float: left;}
      .indent-1 section {width: 50%; float: left;}
    </style>
    <section class="indent-1">
      <!-- Section 1 --> 
      <section class="left">
        <div> {{content}} </div>
        <div>Some more</div>
      </section>

      <!-- Section 2 -->
      <section>
        <div>Some content</div>
        <div>Some more</div>
      </section>
    </section>

      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>

</html>
